<ng-container style="padding: 10px;" *ngIf="visible && config">
  <div class="backdrop" [ngStyle]="{ 'background-color': config.backdropColor }" (click)="close()"></div>
  <div class="box" [ngClass]="[ config.theme, config.enterAnimation ]" [ngStyle]="{
             width:config.width,
             height:config.height,
             'max-width':config.maxWidth,
             'max-height':config.maxHeight,
             'border-radius':config.borderRadius,
             'font-size':config.fontSize,
             color:config.textColor
           }" [attr.role]="config.role" [attr.aria-label]="config.ariaLabel">
    <header *ngIf="config.showHeader">{{ config.headerText }}</header>
    <section class="body">
      <ng-container *ngIf="config.component; else textTpl">
        <ng-container *ngComponentOutlet="config.component"></ng-container>
      </ng-container>
      <ng-template #textTpl>
        <div *ngIf="config.contentType==='plainText'">
          {{ config.contentText }}
        </div>
        <div *ngIf="config.contentType==='html'" [innerHTML]="config.contentHtml"></div>
        <ul *ngIf="config.contentType==='list'">
          <li *ngFor="let i of config.listItems">{{ i }}</li>
        </ul>
        <img *ngIf="config.contentType==='image'" [src]="config.imageUrl" />
      </ng-template>
    </section>
    <footer *ngIf="config.showFooter" class="footer">
      <button *ngFor="let a of config.actions" [ngClass]="a.role" (click)="close()">
        {{ a.label }}
      </button>
    </footer>
  </div>
</ng-container>