<div class="playground-container">
  <aside class="sidebar desktop-only" [class.collapsed]="!expanded()">
    <app-concept-list />
  </aside>
<app-sidebar-launcher></app-sidebar-launcher>
<app-config-launcher></app-config-launcher>
  <section class="right-section">
    <div class="preview" [style.height.%]="100 - configHeightPercent">
      <app-component-preview />
    </div>

    <!-- Barra para redimensionar desde arriba -->
    <div class="resizer" [appResizeFromTop]="onResized"></div>

    <!-- Panel de personalización -->
    <div class="customization desktop-only" [style.height.%]="configHeightPercent">
      <app-customization-panel />
    </div>
  </section>
</div>